.featuredProducts {
  padding: 0 5%;
  padding-top: 6%;

  .top {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    h1 {
      flex: 2;
      text-transform: capitalize;
    }

    p {
      flex: 3;
      color: gray;
    }
  }

  .bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}
.center {
  margin-left: 100px;
}

// @media (max-width: 771px) {
//   .bottom {
//     grid-template-columns: repeat(1, 1fr) !important;
//   }
// }
@media (max-width: 771px) {
  .featuredProducts {
    .bottom {
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }
}
