.navbar {
  height: 80px;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item {
      display: flex;
      align-items: center;
      font-size: 18px;
    }
    .item :hover {
      color: #ff782d;
    }
    .item :active {
      color: #ff782d;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 25px;
    }
    .center {
      font-size: 30px;
      letter-spacing: 2px;
      justify-content: center;
      align-items: center;
      color: #111464;
    }
    .right {
      display: flex;
      align-items: center;
      gap: 25px;

      .icons {
        display: flex;
        gap: 15px;
        color: #777;
        cursor: pointer;

        .cartIcon {
          position: relative;

          span {
            font-size: 12px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #2879fe;
            color: white;
            position: absolute;
            right: -10px;
            top: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

// @media screen and (max-width: 992px) {
//   .navbar {
//     height: 100%;
//     background-color: #ff782d;
//   }

// .wrapper {
//   padding: 50px 100px;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// .item {
//   font-size: 5px;
// }
// .right {
//   gap: 50px;
//   align-items: flex-end;
// }
