.products {
  padding-top: 90px;
  // padding: 30px 50px;
  display: flex;

  .left-filter {
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    position: sticky;
    height: 100%;
    top: 50px;
    // border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    width: 40%;
    padding: 30px;

    .filterItem {
      margin-bottom: 30px;

      h2 {
        font-weight: 400;
        margin-bottom: 20px;
      }

      .inputItem {
        margin-bottom: 10px;
        label {
          margin-left: 10px;
        }
      }
    }
  }

  .right {
    flex: 3;

    .filter-mobil {
      visibility: hidden;
      display: flex;
      gap: 15px;
      margin-bottom: 30px;
    }
    .invisible {
      display: none;
    }

    .catImg {
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-bottom: 50px;
    }
    .iconClose {
      visibility: hidden;
    }
  }
  .right img {
    object-fit: cover;
  }
}

//Responsive

@media (max-width: 800px) {
  .products {
    .left-filter {
      // display: none;

      position: fixed;
      top: 80px;
      left: -100vh;
      margin-right: 0px;
      margin-left: 0px;
      border-radius: 1px;
      background-color: aliceblue !important;
      width: 60vw;

      display: flex;
      flex-direction: column;

      transition: 0.3s ease-in-out;

      z-index: 10;
    }

    .right {
      width: 100%;

      .filter-mobil {
        visibility: visible !important;

        cursor: pointer;
        margin-left: 15px;
      }

      .catImg {
        width: 100%;
        margin-bottom: 100px;
        object-fit: cover;
      }

      .Closemobile {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0 0 0 / 0.8);
        width: 100%;
        height: 100vh;
        visibility: hidden;
        opacity: 0;

        z-index: 8;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        .iconClose {
          visibility: visible;
          display: inline;
          font-size: 30px;
          margin-right: calc(20vw / 2 - 18px);
          color: aliceblue;
          opacity: 0.6;
          cursor: pointer;

          transition: 0.3s ease-in-out;
        }

        .iconClose:hover {
          opacity: 1;
        }
      }
    }
  }

  .ActFiltre .left-filter {
    left: 0 !important;
  }

  .ActFiltre .Closemobile {
    visibility: visible !important;
    opacity: 1 !important;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 991px) {
}
