.app {
  background-color: #faf9f8;
  .link {
    color: inherit;
    text-decoration: none;
  }
}

@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }
  .container {
    margin-left: var(1rem);
    margin-right: var(1rem);
  }
}
