.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 30px;
  flex-wrap: wrap;
}

@media (max-width: 771px) {
  .list {
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
}
